@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
html,
body {
    height: 100%
  }
     label{
    font-size: 20px;
    font-weight: 500;
    color: #2e2e2e;
  }

  button {
    background-color: #92c9ff;
    color: Black;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    width: 80%;
    height: 50px;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    border-radius:30px;
    border: none;
}

button:hover {
opacity: 0.6;
}
select{
    width: 100%;
    padding: 12px 20px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-sizing: border-box;
    background-color: #ddd;
}
option{
    background-color: white;
}
#bgcontainer{
    background-color: #ddd;
}
label::after{
    content: ': ';

}